<!DOCTYPE html>
<!-- <link rel="stylesheet" href="/CSS/defaultcss.css"> -->
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <div class="footer">
        <div class="foot_top">
            <hr />
            <a href="">이용약관</a>
            <a href="">개인정보처리방침</a>
            <a href="">사이트맵</a>
            찾아오는길 : 강원도 삼척시 근덕면 삼척로
            <hr />
        </div>
        <div class="foot_mid">
            <div class="pic">
                <a href=""><img src="img/index/옷빌리지빨강 복사2.png" alt="" /></a>
            </div>
            <div class="sanghomyung">
                <i class="first_sangho">
                    <i class="no-italics">
                        <li>|상호명 : 옷빌리지</li>
                        <div class="coperation">
                            <li>Coperation (주)vv예삐왕자들vv</li>
                        </div>
                        <li>|사업자 등록번호 : 000-0000-000</li>
                        <!-- <p data-ke-size="size16">&nbsp;</p> -->
                        <li>
                            <div class="button">
                                <a href="">사업자 등록번호 확인</a>
                            </div>
                        </li>
                    </i>
                </i>
            </div>
            <div class="daepyo">
                <i class="no-italics">
                    <li>|대표자 : 박정연</li>
                    <li>|개인정보 책임관리자 : 김영환</li>
                    <li>|통신판매업 신고번호 : 0000-울산남구-0000</li>
                    <li>|호스팅 제공사업자 : ○○○○○</li>
                </i>
            </div>
        </div>
        <div class="foot_bot">
            <hr />
            <div class="address_tel_fax_email">
                <div class="tell">
                    <i class="fa-solid fa-phone"> TEL: 052-123-4567&nbsp</i>
                </div>
                <div class="fax">
                    <i class="fa-solid fa-fax"> FAX: 0502-123-4567&nbsp</i>
                </div>
                <div class="email">
                    <i class="fa-solid fa-envelope"> E-mail: example@wear.com</i>
                </div>
            </div>
        </div>
    </div>
</div>
</html>