* {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.askpost_container {
    display: grid;
    grid-template-areas: "askpost_l_gap askpost_main askpost_r_gap";
    grid-template-columns: 1fr 768px 1fr;
    font-weight: bold;
    font-size: 18px
}

.askpost_l_gap {
    grid-area: askpost_l_gap;
}

.askpost_r_gap {
    grid-area: askpost_r_gap;
}

.askpost_main {
    grid-area: askpost_main;
}

/* 문의유형 */
.askpost_ask_type {
    width: 120px;
    height: 25px;
}

/* 제목 and 이미지첨부 */
.askpost_container .askpost_title_and_file {
    display: flex;
    justify-content: space-between;
}

/* 제목입력칸 */
.askpost_container .askpost_title_post {
    width: 300px;
    height: 20px;
}

/* 문의 내용 */
.askpost_container textarea {
    display: flex;
    justify-content: start;
    width: 768px;
    height: 300px;
}

/* 문의하기 번튼 and 폰번호 정렬 */
.askpost_container .askpost_end_line {
    display: flex;
    justify-content: space-between;
}

/* 이메일 and 체크박스 정렬*/
.askpost_container .askpost_mail_checkbox {
    display: flex;
    justify-content: space-between;
}

.askpost_container .askpost_yes {
    font-size: 13px;
}

/* 체크박스 크기 */
.askpost_container .askpost_checkbox {
    height: 13px;
    width: 13px;
}

/* 문의하기 버튼 크기 */
.askpost_container .askpost_ask_btn {
    height: 50px;
    width: 100px;
}

/* 임시 헤더 */
.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    margin-bottom: 50px;
    outline: 1px solid black;
}

/* 임시 푸터 */
.footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
    margin-top: 50px;
    outline: 1px solid black;
}