* {
    margin: 0;
    /* outline: 1px solid red; */
}

a {
    text-decoration: none;
    color: black;
}

.FAQlist_container {
    display: grid;
    grid-template-areas: "FAQlist_l_gap FAQlist_main FAQlist_r_gap";
    grid-template-columns: 1fr 768px 1fr;
}

.FAQlist_l_gap {
    grid-area: FAQlist_l_gap;
}

.FAQlist_r_gap {
    grid-area: FAQlist_r_gap;
}

.FAQlist_main {
    grid-area: FAQlist_main;
}

/* 리스트 전체 */
.FAQlist_container .FAQlist_all_list {
    display: flex;
    outline: 3px solid rgb(204, 204, 204);
}

/* 리스트 사이의 라인 */
.FAQlist_all_list .FAQlist_line {
    display: flex;
    align-items: center;
    height: 40px;
    outline: 1px solid rgb(204, 204, 204);
}

/* 리스트 번호 */
.FAQlist_all_list .FAQlist_num {
    width: 50px;
    font-weight: bold;
    outline: 1px solid rgb(204, 204, 204);
    background-color: rgb(234, 234, 234);
}

/* 리스트 */
.FAQlist_all_list .FAQlist_list {
    width: 718px;
    background-color: rgb(255, 255, 255);
    outline: 2px solid rgb(204, 204, 204);
}

/* 번호, 제목, 상태 */
.FAQlist_all_list .FAQlist_title {
    display: flex;
    font-weight: bold;
    outline: 1px solid rgb(204, 204, 204);
    background-color: rgb(234, 234, 234);
}

/* 임시 헤더 */
.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    margin-bottom: 100px;
    outline: 1px solid black;
}

/* 임시 푸터 */
.footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
    margin-top: 50px;
    outline: 1px solid black;
}