* {
    margin: 0;
    /* outline: 1px solid red; */
}

a {
    text-decoration: none;
    color: black;
}

.container {
    display: grid;
    grid-template-areas: "l_gap main r_gap";
    grid-template-columns: 1fr 768px 1fr;
}

.l_gap {
    grid-area: l_gap;
}

.r_gap {
    grid-area: r_gap;
}

.main {
    grid-area: main;
}

/* 리스트 전체 */
.container .all_list {
    display: flex;
    outline: 3px solid rgb(204, 204, 204);
}

/* 리스트 사이의 라인 */
.all_list .line {
    display: flex;
    align-items: center;
    height: 40px;
    outline: 1px solid rgb(204, 204, 204);
}

/* 리스트 번호 */
.all_list .num {
    width: 50px;
    font-weight: bold;
    outline: 1px solid rgb(204, 204, 204);
    background-color: rgb(234, 234, 234);
}

/* 리스트 */
.all_list .list {
    width: 718px;
    background-color: rgb(255, 255, 255);
    outline: 2px solid rgb(204, 204, 204);
}

/* 번호, 제목, 상태 */
.all_list .title {
    display: flex;
    font-weight: bold;
    outline: 1px solid rgb(204, 204, 204);
    background-color: rgb(234, 234, 234);
}

/* 임시 헤더 */
.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    margin-bottom: 100px;
    outline: 1px solid black;
}

/* 임시 푸터 */
.footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
    margin-top: 50px;
    outline: 1px solid black;
}