<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>옷빌리지</title>
    <link rel="icon" type="image/x-icon" href="img/index/옷빌리지빨강 수정.png">
    <link rel="stylesheet" href="css/color.css">
    <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <style>
        /*옷빌리지 로고 크기 조정*/
        #logo{
           width: 200px;
           height: 200px; 
        }

        /*입력란 크기 조정*/
        input{
            border: none;
            height: 25px;
            width: 400px;
            font-size: 20px;
        }

        /*텍스트 박스 테두리 제거*/
        input:focus{
            outline:none;
        }

        /*텍스트 가운데 정렬*/
        .container{
            text-align: center;
        }

        /*회원가입 양식 왼쪽 정렬*/
        form{
            text-align: left;
        }

        /*받아온 프로필 사진
        150px로 제한하고 모서리 둥글게
        70%로 설정할시 원모양이 됨.
        overflow:hidden은 넘치는 이미지에 대해서 숨기는 코드.*/
        .profile_box {
        width: 150px;
        height: 150px; 
        border-radius: 30%;
        overflow: hidden;
        }

        /*프로필 사진 크기 조절*/
        .profile {
        width: 100%;
        height: 100%;
        object-fit: cover;
}
        .info{
            font-size: 13px;
        }
    </style>
</head>

<body>
    
    <!--그리드 양식-->
    <div class="container">

    <!--아이템 1-->
    <div class="item item1">
        <img id="logo" src="img/index/옷빌리지빨강 수정.png" alt="">
    </div>
    <!--왼쪽 공백 조절용 아이템 2-->
    <div class="item item2"></div>

    <!--아이템 3-->
    <div style="text-align: center;" class="item item3">
    <!--회원가입 폼-->
    <form style="display: inline-block;"action="/" method="post">
    <!--회원가입 메세지 및 환영 인사-->
    <legend style="text-align: center;" ><h1>회원가입</h1></legend>
    <div style="text-align: center;">
        <h3 style="display: inline-block; font-size: 12px; color:gray;">옷빌리지에 오신것을 진심으로 환영합니다<br>회원가입 어쩌고 저쩌고 김수한무두루미와<br>거북이</h3><br>
        <div class="profile_box"  style="display: inline-block;">
    <!--프로필 사진-->
        <img class="profile" th:src="${profile_img}" alt="프로필 사진">
        </div></div>

    <!--아이디 설정 텍스트 칸-->
    <h1>아이디:</h1>
    <input id="id_box" style="border-bottom: solid 2px var(--color-wear_gray)" onblur="id_check();javascript:duplicate_check=false;" type="text" name="userId" placeholder="양식:대소문자,숫자"><br>
    <p class ="info" id="id_text" style="color: black;">아이디를 입력하세요.</p>

    <br>
    <!--비밀번호 설정 텍스트 칸-->
    <h1>비밀번호:</h1>
    <input id="pw_box" onblur="pw_check();" style="border-bottom: solid 2px var(--color-wear_gray)" type="password" name="userPassword" placeholder="요구:대문자,소문자,숫자,특수문자,6~20글자">
    <p class="info" id="pw_text" style="color:red"></p>
    <br>
    <!--이메일 설정 텍스트 칸-->
    <h1>이메일:</h1>
    <input id="email_box" onblur="email_check()" th:style="${testStyle}" type="text" name="userEmail" placeholder="이메일을 입력해주세요." th:value = "${user_email}" th:readonly="${email_readonly}">
    <p class="info" id="email_text" style="color:red"></p>
    <br>
    <!--폼에 입력된 데이터 전송-->
    <div style="text-align: center;">
    <button style="width: 250px; height: 40px; font-style: unset;font-size: 25px; align-content: center; margin-top: 20px; color:white; background-color: var(--color-wear_red);" type="button" onclick="create_user()">
        <span class="noto_bold">회원가입</span>
    </button>
    </div>
    </form>
    <!--오른쪽 공백 조절용 아이템 4-->
    <div class="item item4"></div>

    <!--네이버 로그인 데이터 저장되는 태그. 지울시 정상 작동 안 함-->
    <div id="naverIdLogin" style="display: none;"></div>

</div>
<script>
    //id_box 인스턴스화
    //id_box.value에 따른 문구출력 = id_text
    //중복검사에 따른 문구출력 = id_text2
    //id_box에 입력된 값 사용 id_box.value
    const id_box=document.getElementById("id_box");
    const id_text=document.getElementById("id_text");
    const id_text2=document.getElementById("id_text2");

    //pw_box 인스턴스화
    //pw_box.value에 따른 문구출력 = pw_text
    //id_box에 입력된 값 사용 pw_box.value
    const pw_box=document.getElementById("pw_box");
    const pw_text=document.getElementById("pw_text");

    //email_box 인스턴스화
    //email_box.value에 따른 문구출력 = email_text
    //email_box에 입력된 값 사용 email_box.value
    const email_box=document.getElementById("email_box");
    const email_text=document.getElementById("email_text");
    const id_check_btn = document.getElementById("id_check_btn");

    let duplicate_check = false;
    
</script>

<script>
    function create_user(){
        id_check();
        pw_check();
        email_check();
        if(id_check()&&pw_check()&&email_check()&&duplicate_check==true){
            let user_info_json=
            {
            email:email_box.value,
            userId:id_box.value,
            userPassword:pw_box.value
            };
            sendPost("/",user_info_json)
        }
    }

</script>

<script>
    function id_check(){
        //아래는 디버깅용 코드. 필요시 활성화
        // console.log("ID체크 완료");
        let id_value_check = id_box.value;
        if((/^[0-9a-zA-Z]{6,20}$/g).test(id_value_check)){
            //아이디 중복 체크를 하기 위해서 서버에 id_box.value값 전달
            $.ajax({
                url: "/checkID", // 클라이언트가 요청을 보낼 서버의 URL 주소
                data: {id_box:id_box.value},                // HTTP 요청과 함께 서버로 보낼 데이터
                type: "post",                             // HTTP 요청 방식(GET, POST)
                dataType: "text",                         // 서버에서 보내줄 데이터의 타입
                success:function(result){
                //중복된 아이디가 없을 때 = result에서 false반환
                if(result=="false"){
                    duplicate_check=true;
                    id_text.style.color = "black";
                    //수정예정(이미지 체크박스)
                    id_text.innerText = "생성 가능한 아이디입니다.";
                    return true;
                //중복된 아이디가 있을 때 = result에서 true반환
                } else if(result=="true"){
                    duplicate_check=false;
                    id_text.style.color = "red";
                    //수정예정(이미지 체크박스)
                    id_text.innerText = "중복된 아이디입니다.";
                    return false;
                } else {
                    alert("에러!");
                }
            },
                error:function(error){
                    alert(error);
                }
            })
            return true;
        } else if (id_box.value===""){
            id_text.style.color = "red";
            id_text.innerText = "아이디는 필수 정보입니다."
            //조건을 충족하지 못한 요소로 화면 이동. 당장에는 회원가입창이 작아서 필요없지만
            //추후 회원가입 화면에 들어가는 요소가 많아졌을 때 고객 편리성을 기대할 수 있음
            id_box.scrollIntoView();
            return false;
        } else {
            id_text.style.color = "red";
            id_text.innerText = "아이디를 확인해주세요.";
            id_box.scrollIntoView();
            return false;
        }
    }


    function pw_check(){
        //아래는 디버깅용 코드. 필요시 활성화
        // console.log("PW체크 완료");
        let pw_value_check = pw_box.value;
        if((/^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?])(?=.{6,20}).*$/).test(pw_value_check)){
            pw_text.style.color = "black"
            pw_text.innerText = "사용 가능한 비밀번호입니다.";
            return true;
        }else{
            pw_text.style.color = "red";
            pw_text.innerText = "비밀번호를 확인해주세요.";
            pw_box.scrollIntoView();
            return false;
        }
    }

    function email_check(){
        //아래는 디버깅용 코드. 필요시 활성화
        // console.log("EMAIL체크 완료");
        let email_value_check = email_box.value;
        if((/\w+[\w.]*@[\w.]+\.\w+/g).test(email_value_check)){
            email_text.style.color = "black";
            email_text.innerText = '올바른 이메일 형식입니다.';
            return true;
        }else{
            email_text.style.color = "red";
            email_text.innerText = '이메일을 확인해주세요.';
            email_box.scrollIntoView();
            return false;
        }
    }
    

</script>
    <!--포스트 방식 URL,파라미터 전달-->
    <!--action에 URL지정, params에 JSON 데이터 지정-->

<script>
    function sendPost(action, params) {
    var form = document.createElement('form');
    form.setAttribute('method', 'post');
    form.setAttribute('action', action);
    document.charset = "utf-8";
    for ( var key in params) {
        var hiddenField = document.createElement('input');
        hiddenField.setAttribute('type', 'hidden');
        hiddenField.setAttribute('name', key);
        hiddenField.setAttribute('value', params[key]);
        form.appendChild(hiddenField);
        }
    document.body.appendChild(form);
    form.submit();
    }
</script>
</body>
</html>