<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/items_buy.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="category">
        <ul class="mcategory">
          <li class="noto_bold_black clothing">
            <span class="cloth_top" data-main="상의">상의</span>
            <ol class="cloth_top_under">
              <li>
                <a class="긴소매티셔츠" href="">&nbsp긴소매 티셔츠&nbsp</a>
              </li>
              <li>
                <a class="반소매티셔츠" href="">&nbsp반소매 티셔츠&nbsp</a>
              </li>
              <li>
                <a class="셔츠블라우스" href="">&nbsp셔츠/블라우스&nbsp</a>
              </li>
              <li><a class="후드티셔츠" href="">&nbsp후드 티셔츠&nbsp</a></li>
              <li><a class="니트스웨터" href="">&nbsp니트/스웨터&nbsp</a></li>
              <li><a class="맨투맨" href="">&nbsp맨투맨&nbsp</a></li>
              <li><a class="기타상의" href="">&nbsp기타 상의&nbsp</a></li>
            </ol>
          </li>

        <li class="noto_bold_black clothing">
            <span class="cloth_bot" data-main="하의">하의</span>
            <ol class="cloth_bot_under">
              <li>
                <a class="데님팬츠" href="">&nbsp데님팬츠&nbsp</a>
              </li>
              <li>
                <a class="코튼팬츠" href="">&nbsp코튼팬츠&nbsp</a>
              </li>
              <li>
                <a class="슈트팬츠" href="">&nbsp슈트팬츠&nbsp</a>
              </li>
              <li><a class="트레이닝조거팬츠" href="">&nbsp트레이닝/조거팬츠&nbsp</a></li>
              <li><a class="숏팬츠" href="">&nbsp숏팬츠&nbsp</a></li>
              <li><a class="기타하의" href="">&nbsp기타 하의&nbsp</a></li>
            </ol>
          </li>

        <li class="noto_bold_black clothing">
            <span class="cloth_outer" data-main="아우터">아우터</span>
            <ol class="cloth_outer_under">
              <li>
                <a class="후드집업" href="">&nbsp후드집업&nbsp</a>
              </li>
              <li>
                <a class="레더라이더스재킷" href="">&nbsp레더/라이더스재킷&nbsp</a>
              </li>
              <li>
                <a class="트러커재킷" href="">&nbsp트러커재킷&nbsp</a>
              </li>
              <li><a class="슈트블레이저재킷" href="">&nbsp슈트/블레이저 재킷&nbsp</a></li>
              <li><a class="카디건" href="">&nbsp카디건&nbsp</a></li>
              <li><a class="아노락재킷" href="">&nbsp아노락재킷&nbsp</a></li>
              <li><a class="플리스" href="">&nbsp플리스&nbsp</a></li>
              <li><a class="패딩" href="">&nbsp패딩&nbsp</a></li>
              <li><a class="기타아우터" href="">&nbsp기타 아우터&nbsp</a></li>
            </ol>
          </li>

        <li class="noto_bold_black clothing">
            <span class="cloth_dress"data-main="원피스">원피스</span>
            <ol class="cloth_dress_under">
              <li>
                <a class="미니원피스" href="">&nbsp미니 원피스&nbsp</a>
              </li>
              <li>
                <a class="미디원피스" href="">&nbsp미디 원피스&nbsp</a>
              </li>
              <li>
                <a class="맥시원피스" href="">&nbsp맥시 원피스&nbsp</a>
              </li>
              <li><a class="기타원피스" href="">&nbsp기타 원피스&nbsp</a></li>
            </ol>
          </li>

        <li class="noto_bold_black clothing">
            <span class="cloth_beach"data-main="비치웨어">비치웨어</span>
            <ol class="cloth_beach_under">
              <li><a class="남성비치웨어" href="">&nbsp남성 비치웨어&nbsp</a></li>
              <li><a class="여성비치웨어" href="">&nbsp여성 비치웨어&nbsp</a></li>
              <li><a class="기타비치웨어" href="">&nbsp기타 비치웨어&nbsp</a></li>
            </ol>
          </li>

        <li class="noto_bold_black clothing">
            <span class="cloth_sports"data-main="스포츠">스포츠</span>
            <ol class="cloth_sports_under">
              <li>
                <a class="스포츠상의" href="">&nbsp스포츠 상의&nbsp</a>
              </li>
              <li>
                <a class="스포츠하의" href="">&nbsp스포츠 하의&nbsp</a>
              </li>
              <li>
                <a class="트레이닝재킷" href="">&nbsp트래이닝 재킷&nbsp</a>
              </li>
              <li><a class="기타스포츠" href="">&nbsp기타 스포츠&nbsp</a></li>
            </ol>
          </li>

        <li class="noto_bold_black clothing">
            <span class="cloth_hat"data-main="모자">모자</span>
            <ol class="cloth_hat_under">
              <li>
                <a class="캡야구모자" href="">&nbsp캡/야구모자&nbsp</a>
              </li>
              <li>
                <a class="버킷사파리햇" href="">&nbsp버킷/사파리햇&nbsp</a>
              </li>
              <li>
                <a class="비니" href="">&nbsp비니&nbsp</a>
              </li>
              <li><a class="기타모자" href="">&nbsp기타 모자&nbsp</a></li>
            </ol>
          </li>

        <li class="noto_bold_black clothing">
            <span class="cloth_shoes"data-main="신발">구두</span>
            <ol class="cloth_shoes_under">
              <li>
                <a class="구두" href="">&nbsp구두&nbsp</a>
              </li>
              <li>
                <a class="로퍼" href="">&nbsp로퍼&nbsp</a>
              </li>
              <li>
                <a class="힐펌프스" href="">&nbsp힐/펌프스&nbsp</a>
              </li>
              <li><a class="샌들" href="">&nbsp샌들&nbsp</a></li>
              <li><a class="슬리퍼" href="">&nbsp슬리퍼&nbsp</a></li>
              <li><a class="부츠" href="">&nbsp부츠&nbsp</a></li>
              <li><a class="기타신발" href="">&nbsp기타 신발&nbsp</a></li>
            </ol>
          </li>
        </ul>
      </div>
      <div class="category_main">
        <span class="noto_bold_black" style="font-size:50px;">상의</span>
      </div>
      <div class="category_sub">
        <ul class="category_sub_ulist">
          <li>긴소매 티셔츠</li>
          <li>반소매 티셔츠</li>
          <li>셔츠/블라우스</li>
          <li>후드 티셔츠</li>
          <li>맨투맨</li>
          <li>니트/스웨터</li>
          <li>기타 상의</li>
        </ul>
      </div>
      <div class="main">
        <div class="item">
          <div class="mini_container">
            <span class="noto_bold_black"
              ><div class="map_info">신정동</div></span
            >
            <div class="pic">
              <img
                src="https://cdn.pixabay.com/photo/2015/03/27/13/16/maine-coon-694730_1280.jpg"
                alt=""
                style="width: 201px; height: 201px"
              />
            </div>
            <span class="noto_bold_black"
              ><div class="desc">고양이 야옹</div></span
            >
            <span class="noto_bold_black"
              ><div class="sell">판매가 : 고양이 야옹</div></span
            >
          </div>
        </div>
        <div class="item">
          <div class="mini_container">
            <span class="noto_bold_black"
              ><div class="map_info">신정동</div></span
            >
            <div class="pic">
              <img
                src="https://cdn.pixabay.com/photo/2015/03/27/13/16/maine-coon-694730_1280.jpg"
                alt=""
                style="width: 201px; height: 201px"
              />
            </div>
            <span class="noto_bold_black"
              ><div class="desc">고양이 야옹</div></span
            >
            <span class="noto_bold_black"
              ><div class="sell">판매가 : 고양이 야옹</div></span
            >
          </div>
        </div>
        <div class="item">
          <div class="mini_container">
            <span class="noto_bold_black"
              ><div class="map_info">신정동</div></span
            >
            <div class="pic">
              <img
                src="https://cdn.pixabay.com/photo/2015/03/27/13/16/maine-coon-694730_1280.jpg"
                alt=""
                style="width: 201px; height: 201px"
              />
            </div>
            <span class="noto_bold_black"
              ><div class="desc">고양이 야옹</div></span
            >
            <span class="noto_bold_black"
              ><div class="sell">판매가 : 고양이 야옹</div></span
            >
          </div>
        </div>
        <div class="item">
          <div class="mini_container">
            <span class="noto_bold_black"
              ><div class="map_info">신정동</div></span
            >
            <div class="pic">
              <img
                src="https://cdn.pixabay.com/photo/2015/03/27/13/16/maine-coon-694730_1280.jpg"
                alt=""
                style="width: 201px; height: 201px"
              />
            </div>
            <span class="noto_bold_black"
              ><div class="desc">고양이 야옹</div></span
            >
            <span class="noto_bold_black"
              ><div class="sell">판매가 : 고양이 야옹</div></span
            >
          </div>
        </div>
        <div class="item">
          <div class="mini_container">
            <span class="noto_bold_black"
              ><div class="map_info">신정동</div></span
            >
            <div class="pic">
              <img
                src="https://cdn.pixabay.com/photo/2015/03/27/13/16/maine-coon-694730_1280.jpg"
                alt=""
                style="width: 201px; height: 201px"
              />
            </div>
            <span class="noto_bold_black"
              ><div class="desc">고양이 야옹</div></span
            >
            <span class="noto_bold_black"
              ><div class="sell">판매가 : 고양이 야옹</div></span
            >
          </div>
        </div>
        <div class="item">
          <div class="mini_container">
            <span class="noto_bold_black"
              ><div class="map_info">신정동</div></span
            >
            <div class="pic">
              <img
                src="https://cdn.pixabay.com/photo/2015/03/27/13/16/maine-coon-694730_1280.jpg"
                alt=""
                style="width: 201px; height: 201px"
              />
            </div>
            <span class="noto_bold_black"
              ><div class="desc">고양이 야옹</div></span
            >
            <span class="noto_bold_black"
              ><div class="sell">판매가 : 고양이 야옹</div></span
            >
          </div>
        </div>
        <div class="item">
          <div class="mini_container">
            <span class="noto_bold_black"
              ><div class="map_info">신정동</div></span
            >
            <div class="pic">
              <img
                src="https://cdn.pixabay.com/photo/2015/03/27/13/16/maine-coon-694730_1280.jpg"
                alt=""
                style="width: 201px; height: 201px"
              />
            </div>
            <span class="noto_bold_black"
              ><div class="desc">고양이 야옹</div></span
            >
            <span class="noto_bold_black"
              ><div class="sell">판매가 : 고양이 야옹</div></span
            >
          </div>
        </div>
        <div class="item">
          <div class="mini_container">
            <span class="noto_bold_black"
              ><div class="map_info">신정동</div></span
            >
            <div class="pic">
              <img
                src="https://cdn.pixabay.com/photo/2015/03/27/13/16/maine-coon-694730_1280.jpg"
                alt=""
                style="width: 201px; height: 201px"
              />
            </div>
            <span class="noto_bold_black"
              ><div class="desc">고양이 야옹</div></span
            >
            <span class="noto_bold_black"
              ><div class="sell">판매가 : 고양이 야옹</div></span
            >
          </div>
        </div>
        <div class="item">
          <div class="mini_container">
            <span class="noto_bold_black"
              ><div class="map_info">신정동</div></span
            >
            <div class="pic">
              <img
                src="https://cdn.pixabay.com/photo/2015/03/27/13/16/maine-coon-694730_1280.jpg"
                alt=""
                style="width: 201px; height: 201px"
              />
            </div>
            <span class="noto_bold_black"
              ><div class="desc">고양이 야옹</div></span
            >
            <span class="noto_bold_black"
              ><div class="sell">판매가 : 고양이 야옹</div></span
            >
          </div>
        </div>
        </div>
      </div>
  </body>
  <script>

    var categories = {
      상의: ['긴소매티셔츠', '반소매티셔츠', '셔츠/블라우스', '후드 티셔츠', '맨투맨', '니트/스웨터', '기타 상의'],
      하의: ['데님팬츠','코튼팬츠','슈트팬츠','트레이닝/조거팬츠','숏팬츠','기타하의'],
      아우터: ['후드집업','래더/라이더스재킷','트러커재킷','슈트/블레이저재킷','카디건','아노락재킷','플리스','패딩','기타 아우터'],
      원피스: ['미니원피스','미디원피스','맥시원피스','기타원피스'],
      비치웨어:['남성비치웨어','여성비치웨어','기타비치웨어'],
      스포츠:['스포츠상의','스포츠하의','트레이닝재킷','기타 스포츠'],
      모자:['캡/야구모자','버킷/사파리햇','비니','기타 모자'],
      신발:['구두','로퍼','힐/펌프스','샌들','슬리퍼','부츠','기타 신발']
    }

let downflag = false;
let mouseclickflag = false;

$(document).ready(function() {
  $('.cloth_top, .cloth_bot, .cloth_outer, .cloth_dress, .cloth_beach, .cloth_sports, .cloth_hat, .cloth_shoes').on('mouseover', function() {
    downflag = true;
    $(this).next().stop().slideDown();
      $('.category_main').stop().animate({'padding-top': '180px'}, 500);
  });

  $('.cloth_top, .cloth_bot, .cloth_outer, .cloth_dress, .cloth_beach, .cloth_sports, .cloth_hat, .cloth_shoes').on('mouseout', function() {
    downflag = false;
    setTimeout(function() {
      if (!downflag && !mouseclickflag) { 
        $('.cloth_top_under, .cloth_bot_under, .cloth_outer_under, .cloth_dress_under, .cloth_beach_under, .cloth_sports_under, .cloth_hat_under, .cloth_shoes_under').stop().slideUp();
          $('.category_main').stop().animate({'padding-top': '0px'}, 500);
      }
    }, 15);
  });

  $('.cloth_top_under, .cloth_bot_under, .cloth_outer_under, .cloth_dress_under, .cloth_beach_under, .cloth_sports_under, .cloth_hat_under, .cloth_shoes_under').on('mouseover', function() {
    downflag = true;
  });

  $('.cloth_top_under, .cloth_bot_under, .cloth_outer_under, .cloth_dress_under, .cloth_beach_under, .cloth_sports_under, .cloth_hat_under, .cloth_shoes_under').on('mouseout', function() {
    var $this = $(this);
    downflag = false;

    setTimeout(function() {
      if (!downflag && !mouseclickflag) { 
        $this.stop().slideUp();
          $('.category_main').stop().animate({'padding-top': '0px'}, 500);
      }
    }, 15);
  });

  $('.cloth_top, .cloth_bot, .cloth_outer, .cloth_dress, .cloth_beach, .cloth_sports, .cloth_hat, .cloth_shoes').on('click', function() {
    var main_category = $(this).data('main');
    $('.category_main > span').text(main_category);
    $('.category_sub_ulist').empty();
    categories[main_category].forEach(function(sub_category) {
      $('.category_sub_ulist').append('<li>' + sub_category + '</li>');
    });
    
    if (mouseclickflag == false) {
      mouseclickflag = true;
      $(this).next().stop().slideDown();
      $('.category_main').stop().animate({'padding-top': '180px'}, 500);
    } else {
      mouseclickflag = false;
      $(this).next().stop().slideUp();
      $('.category_main').stop().animate({'padding-top': '0px'}, 500);
    }
  });
});
  </script>
</html>
