<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="footer">
        <link rel="stylesheet" href="/css/footer.css">
        <footer>
            <div class="footer_row">
                <div class="footer_main">
                    <div class="footer_top">
                        <p>vv예삐왕자vv</p>
                        <p class="footer_top_stick">&nbsp|&nbsp</p>
                        <p>김영환 김홍섭 박정연 김재민 김기덕 김지열 김병국</p>
                    </div>
                    <div class="footer_line"></div>
                    <div class="footer_mid">
                        <div class="footer_info">
                            <p>상호명 : 예삐왕자들</p>
                            <p>사업자 번호 : 610-25-77274</p>
                            <p>coperation : ㈜vv예삐왕자vv</p>
                            <div class="footer_tel_info">
                                <span>TEL: 052-123-4567 &nbsp</span>
                                <span>FAX: 0502-123-4567 &nbsp</span>
                                <span>E-mail: wearvillage.com@gmail.com</span>
                            </div>
                        </div>
                        <div class="footer_logo">
                            <img class="footer_logo_img" src="/img/img_wearVillageLogo.png" alt="">
                            <p class="footer_title">WearVillage</p>
                        </div>
                    </div>
                    <div class="footer_line"></div>
                    <div class="footer_bottom">
                        <a class="footer_login footer_bottom_sub" href="">로그인</a>
                        <p class="footer_bottom_stick">|</p>
                        <a class="footer_bottom_sub" href="">이용약관</a>
                        <p class="footer_bottom_stick">|</p>
                        <a class="footer_bottom_sub" href="">전체 서비스</a>
                        <a href="">개인정보 처리방침</a>
                        <p class="footer_bottom_stick">|</p>
                        <a class="footer_bottom_sub" href="">고객센터</a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="/js/footer.js"></script>
    </div>

</html>