<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="header" class="header_fragment">
        <link layout:fragment="css" rel="stylesheet" th:href="#{contentPath}+'css/header.css'">
<section class="sign_section">
    <a class = "header_login_link" th:href="#{contentPath}+login"><img class = "header_login_img"
            style="position:relative;
               top:1px;
               left:3px;
               width: 12px;
               height: 12px;"
            src=""
            alt="">
        <span class="header_login_text"></span>
    </a>
</section>
<section class="headerContainer">
    <div class="header_menus"  >
        <div class="header_mobileSearch">
            <input class="header_mobile_searchText" type="text" placeholder="검색어를 입력해주세요" >
        </div>
        <ul>
            <li><a href="/posting">판매/공유</a></li>
            <li><a href="/posts">구매/대여</a></li>
            <li><a href="#">마이페이지</a>
                <ul>
                    <li><a href="/mypage"># 내 정보</a></li>
                    <li><a href="/cash_join"># 잔액 조회</a></li>
                    <li><a href="/chatroomlist"># 채팅내역 보기</a></li>
                </ul>
            </li>
            <li><a href="#">고객센터</a>
                <ul>
                    <li><a href="#"># 자주하는 질문</a></li>
                    <li><a href="#"># 1:1 문의</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="headerItem1">
    </div>
    <div class="headerItem2 pc">
        <div class="header_menu header_logo">
            <div class="header_rectangle" th:style ="'background-image: url('+#{contentPath}+'img/img_header_tablet_menu_icon.png); background-size: cover;'">
            </div>
            <img th:src="#{contentPath}+'img/img_wearVillageLogo.png'" alt="">
            <div class ="header_logo_id"><a href="/">wearVillage</a></div>
        </div>
        <div class="header_menu"><a href="/posts">구매/대여</a></div>
        <div class="header_menu"><a href="/posting">판매/공유</a></div>
        <div class="header_menu"><a href="/mypage">마이페이지</a></div>
        <div class="header_menu"><a href="#">고객센터</a></div>

    </div>

  
    <div class="headerItem3"></div>
</section>
    <form action="/search/${query}" th:method="get" id="searchForm">
        <div class="header_searchArea">
            <input class="header_searchText" type="text" placeholder="검색어를 입력해주세요" >
            <img class="searchImageBtn" src="../img/magnifier.png" style="width:15px; height:15px; padding-right:20px;" onclick="submitSearch()">
        </div>
    </form>

    <script>
        let $searchForm = document.getElementById('searchForm');

        $searchForm.addEventListener('submit', function(e) {
            e.preventDefault();
            submitSearch();
        });

        function submitSearch() {
            let query = document.querySelector('.header_searchText').value;
            window.location.href='/search/'+encodeURIComponent(query);
        }
    </script>
<script layout:fragment="script" src="js/header.js"></script>
</div>

</html>