<<<<<<< HEAD
.chat_targetTextBox{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left:15px;
}

.chat_myTextBox{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right:15px;
    justify-content: end;
}

.chat_Text{
    max-width:300px;
    border-radius: 15px;
    padding-top:6px;
    padding-bottom:7px;
    padding-left:10px;
    padding-right:10px;
    font-size: 14px;
    font-weight: normal;
    word-wrap: break-word;
}
.chat_targetText{
    background-color: rgb(157, 157, 231);
}
.chat_myText{
    background-color: rgb(226, 105, 105);
}

.chat_msgArea{
    background-color: rgb(255, 236, 236);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 500px;
    max-width: 500px;
    height: 500px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;

}
.chat_msgArea_outZone{
    width: 500px;
max-width: 500px;
    height: 700px;
    max-height: 700px;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.chat_bottom_nav{
    display: flex;
    width: 500px;
    max-width: 500px;
    height:100px;
    max-height: 100px;
    align-content: center;
}
.chat_bottom_nav>input{
    background-color:rgb(249 203 203);
    outline:50px;
    width:500px;
    max-width: 500px;
    word-wrap: break-word;
    border:0px;
    text-indent:20px;
}

.developerZone{
    margin-left: auto;
    margin-right: auto;
=======
:root{
    /*타이핑하는 영역 진한 색깔*/

    --msgZoneColor: rgb(255, 231, 231);
    /*디스플레이 영역 색깔*/

    --displayZoneColor:rgb(255, 246, 246);
    /*스크롤바 색깔*/
    --scrollbarsColor:rgb(232, 55, 55);
    /*타이핑 커서 색깔*/
    --caretColor:rgb(232, 55, 55);
    }

body{
    margin:0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-color: var(--msgZoneColor);
    overflow-y: hidden;

}
.chat_topContent{
    width: 100%;
    max-width: 100%;
    height: 15%;
    max-height: 15%;
    background-color: #ffdfdf;
    border-radius: 10px;
}
.chat_topContent_details{
    display: flex;
    width: 100%;
    height: 10%;
    background-color: rgba(104, 107, 255, 0.089);
}
.chat_bottomContent_item1{
    
}
.chat_bottomContent_item2{}
.chat_bottomContent_item3{}


.chat_msgArea_outZone{
    background-color: var(--displayZoneColor);
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}
.chat_noticeClose{
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: rgb(65, 65, 65);
    color: white;
    border-radius: 5px;
    line-height: 20px;
    cursor: pointer;
    display: none;
}
.chat_notice{
    position: absolute;
    display: inline-block;
    top:50%;
    width: 50%;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}
.chat_noticeTitle{
    font-size: 18px;
    font-weight: bold;
}
.chat_noticeText{
    text-align: left;
    font-size: 16px;
    padding-left: 15px;
}

.chat_midContent{
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 70%;
    max-height: 70%;
    overflow-y: scroll;
}
.chat_bottom_nav{
    position: absolute;

}

.chat_bottom_nav>img{
    width: 30px;
    height: 30px;
}
.chat_bottomContent{
    display: flex;
    position: relative;
    border-top: 1px solid rgba(0,0,0,0.3);
    width: 100%;
    max-width: 100%;
    height: 15%;
    max-height: 15%;
    background-color: var(--msgZoneColor);
    align-items: center;
    overflow: hidden;
}
#msg:focus{
    outline: none;
}

#msg{
    resize: none;
    width: 100%;
    padding-left: 5%;
    margin-right: 4%;
    max-height: 100%;
    border: 0px;
    word-wrap: break-word;
    font-size: 16px;
    caret-color: var(--caretColor);
    background-color: white;
    margin-left: 20px;
    padding:20px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 15px;
}
#msg:active{
    cursor: default;
}
#msg::-webkit-scrollbar{
    width: 10px;
}

#msg::-webkit-scrollbar-thumb{
    background-color: rgb(173, 173, 173);
    border-radius: 15px;
    height: 50%;
}
#button-send{
    background-color: #a7a7a7;
    border: 0px;
    border-radius: 10px;
    width: 12%;
    height: 25%;
    margin-right: 3%;
    color:white;
    font-size: 18px;
}
#button-send:hover{
    cursor: pointer;
}

/*채팅 텍스트 박스*/

.chat_myTextBox{
    display: flex;
    justify-content: end;
    padding-right: 20px;
}
.chat_targetTextBox{
    display: flex;
    padding-left: 20px;
}
.chat_Text{
    border-radius: 8px;
    margin-top:15px;
    margin-bottom: 15px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 50%;
    white-space: pre-wrap;
    word-wrap: break-word;

}

.chat_myText{
    background-color: rgb(140, 157, 255);
}
.chat_targetText{
    background-color: rgb(250, 177, 177);

}
.chat_msgArea{
    display: block;
    flex-direction:column;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}
.chat_midContent::-webkit-scrollbar{
    width: 6px;
}
.chat_midContent::-webkit-scrollbar-thumb{
    background-color: rgb(253, 112, 112);
    border-radius: 20px;

}
.chat_displayTime{
    font-size: 12px;
    margin-top: auto;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
>>>>>>> ee50c55e39ad5332db6801d04cc4c619b18dfaa2
}
