* {
  margin: 0;
  /* outline: 1px solid red; */
}

.FAQ_container .FAQ_title a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  height: 40px;
}

.FAQ_container {
  display: grid;
  grid-template-areas: "FAQ_l_gap FAQ_main FAQ_r_gap";
  grid-template-columns: 1fr 768px 1fr;
}

.FAQ_top_line {
  outline: 1px solid black;
  margin-top: 20px;
}

.FAQ_l_gap {
  grid-area: FAQ_l_gap;
}

.FAQ_r_gap {
  grid-area: FAQ_r_gap;
}

.FAQ_main {
  grid-area: FAQ_main;
}

.FAQ_top {
  margin-top: 50px;
  margin-bottom: 20px;
}
.FAQ_mid_line{
  outline: 1px solid lightgray;
}
.FAQ{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.askdetail_menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.askdetail_deleteBtn{
  height: 40px;
  border: none;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}
.askdetail_deleteBtn:hover{
  text-decoration: underline;
}
.askdetail_listBtn{
  margin-top: 60px;
  width: 100px;
  height: 50px;
}