
#AuthSubmitForm {
  display:flex;
  flex-direction:column;
  width: 450px;
  height: 250px;
  align-items:center;
  border:2px solid gray;
}

#AuthSubmitForm label {
  font-size:12px;
  width:100%;
  text-align:center;
  margin:3px;
  font-size:16px;
}
        
.noteNotice {
    background-color:#FFE2E2;
    width:100%;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
    color:black;
    font-weight:bold;
    border-bottom:1px solid #FF6161;
    border-top:1px solid #FF6161;
    margin-bottom:5px;
}

#AuthSubmitForm input[type="text"] {
  border-radius:10px;
  font-size:18px;
  height:28px;
  line-height:18px;
  text-align:flex-start;
  border:1px solid gray;
  padding-left:5px;
}

#AuthSubmitForm input[type="text"]::placeholder {
  color:rgba(0,0,0,0.2);
}

#AuthSubmitForm input[type="submit"] {
  border-radius:10px;
  border:none;
  width:35%;
  height:26px;
  background-color: #FFE2E2;
  font-weight:bold;
  margin-top:6px;
}

#AuthSubmitForm p {
  margin:5px;
}

.resultMsg {
  display:flex;
  flex-direction: column;
  align-items:center;
  font-size:12px;
  width:100%;
  text-align:center;
  margin:3px;
  font-size:16px;
  color:red;
}

input[type="button"] {
  border-radius:10px;
  border:none;
  width:35%;
  height:26px;
  background-color: #FFE2E2;
  font-weight:bold;
  margin-top:6px;
  margin-left:auto;
  margin-right:auto;
}