.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --c: #ff6b81;
}

.content {
  display: flex;
  justify-content: center;
  width: auto;
}

.PostDetailHeart svg {
  width: 40;
  /*상대포지션*/
  position: relative;
  /*z-index: 10;*/
  animation-duration: 3s;
  animation-name: heartBling;
  animation-iteration-count: infinite;
}

.PostDetailHeart #heart {
  /*색 보충*/
  fill: #eee;

  /*stroke속성은 선, 문자, 원소등의 테두리에대해서 디자인 가능*/
  stroke: var(--c);
  /*선의 넓이*/
  stroke-width: 40px;
  /*선을 점선으로 설정, 점선의 길이 설정*/
  stroke-dasharray: 3000;
  /*displacement of line*/
  stroke-dashoffset: 3000;
  /*끝점은 둥글게*/
  stroke-linecap: round;
}

.PostDetailHeart {
  position: relative;
  width: 40px;
  height: 40px;
}

.PostDetailHeart span {
  display: block;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-radius: 50%;
  /*절대적 포지션: center*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  /*각 방향의 쉐도우 설정*/
  /*var함수로 쉐도우 컬러 설정*/
  box-shadow: 0 -40px 0 var(--c), 0 40px 0 var(--c), -40px 0 0 var(--c),
    40px 0 0 var(--c), -30px -30px 0 var(--c), 30px -30px 0 var(--c),
    30px 30px 0 var(--c), -30px 30px 0 var(--c);
}

#PostDetailCheckbox:checked + svg #heart {
  /*애니메이션실행: 애니메이션이름, 실행시간, 선형 마지막 정지한 프레임*/
  animation: drawHeart 1s linear forwards;
}

#PostDetailCheckbox:checked ~ span {
  /*애니메이션실행: 애니메이션이름, 실행시간, 선형 마지막 정지한 프레임*/
  animation: blink 0.5s ease-in-out forwards;
  /*애니메이션 딜레이*/
  animation-delay: 0.8s;
}

#PostDetailCheckbox:checked + svg {
  /*애니메이션실행: 애니메이션이름, 실행시간, 선형 마지막 정지한 프레임*/
  animation: beat 1s linear forwards;
}
.PostDetailHeart label {
  /*마우스 heart로 이동시 마우스 커서변동*/
  cursor: pointer;
}

@keyframes drawHeart {
  0% {
    stroke-dashoffset: 2600;
  }
  80% {
    fill: #eee;
    stroke-dashoffset: 0;
  }
  100% {
    fill: var(--c);
    stroke-dashoffset: 0;
  }
}
/*점 애니메이션*/
@keyframes blink {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.8;
  }
  80% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
}

/*두근두근 애니메이션*/
@keyframes beat {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes heartBling {
  0% {
    transform: scale(1.3);
  }
  33% {
    transform: scale(0.9);
  }
  66% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(0.9);
  }
}

/* 래퍼 */
.PostDetailWrapper {
  width: 768px;
}

/* 메인 인포 컨테이너(가격, 하트, 공유) */
.MainInfoContainer {
  display: flex;
  height: 80px;
  padding-top:10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.MainInfoIconContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.PriceSpanContainer {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.PriceSpanContainer span {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
}

.PriceSpanContainer p {
  margin: 0px;
}

#PostPriceSpan {
  color: red;
  font-size: 22px;
  line-height: 22px;
}

.ShareLinkIcon {
  margin: 0 10px;
}

.SubInfoContainer {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin-top:10px;
  margin-bottom:10px;
  padding-bottom:15px;
}

.SubInfoContainer div {
  margin: 0 10px;
}

.PostWriterIdP {
  color:rgba(0, 0, 0, 0.35);
  size:16px;
}

.PostSubtitleP {
  font-weight:bold;
  font-size:22px;
}

.PostMapInfoSpan {
  display:flex;
  justify-content: center;
}

.PostTextWrapperDiv {
  margin-top:40px;
  padding-bottom:15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

@keyframes fadein {
  from { opacity: 0.75; }
  to   { opacity: 1; }
}

.PostTextContainer p img {
  max-width:768px;
}

button:disabled {
  color: #dc4141;
  border-radius: 5px;
  background-color: white;
  border: none;
  outline: 1px solid gray;
  font-weight: bold;
  font-size:16px;
  height:24px;
  text-align:center;
}
