<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>계정 삭제</title>
    <style>
        .errMessage {
            color:red;
            font-size:22px;
            font-weight:bold;
        }
    </style>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<body>
<form action="" method="POST" id="deleteAccount">
    <label for="id">확인을 위해 회원님의 아이디를 입력해주세요.</label><input type="text" id="id" name="id">
    <input type="submit">
    <p th:if="${errMessage}" th:text="${errMessage}" id="errMessage"></p>
</form>
<script>
    let $Frm = document.getElementById('deleteAccount');
    $Frm.addEventListener('submit',(e)=>{
    e.preventDefault();
    if(confirm("삭제하시겠습니까?")){
            $Frm.submit();
        } else {
            return false;
        }
    })
</script>
</body>
</html>