<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">

<body>
  <div layout:fragment="content">
    <link layout:fragment="css" rel="stylesheet" href="/css/FAQlist.css">
    <!-- 왼쪽 공백 -->
    <div class="FAQlist_l_gap"></div>
    <!-- 메인 -->
    <div class="FAQlist_container">
      <div class="FAQlist_main">
        <h2 class="FAQlist_top"  style="font-size: 25px;font-weight: bold;">자주 묻는 질문(FAQ)</h2>
        <div class="FAQlist_top_line"></div>
        <br>
        <div class="FAQlist_all_list">
          <div class="FAQlist_itme FAQlist_item0">
            <div class="FAQlist_main_num FAQlist_item0">
              <p>번호</p>
            </div>
            <div class="FAQlist_main_title FAQlist_item0">
              <p>제목</p>
            </div>
          </div>

          <div th:each="FAQlistObject : ${FAQlist}">
          <!-- 1번문의 시작 -->
            <div class="FAQlist_itme FAQlist_item1" >
              <div class="FAQlist_num FAQlist_item1"><p th:text="${FAQlistObject.faqpostid}">1</p></div>
              <div class="FAQlist_title FAQlist_item1"><a href="" th:href="@{/FAQ/{faqpostid}(faqpostid=${FAQlistObject.faqpostid})}">
                <p th:text="${FAQlistObject.title}">예제 데이터 제목</p></a>
              </div>
            </div>
            <div class="FAQlist_line"></div>
          <!-- 1번문의 끝 -->
          </div>


        </div>
      </div>
    </div>
    <!-- 오른쪽 공백 -->
    <div class="FAQlist_r_gap"></div>


  </div>


</body>

</html>