<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/findedPw.css">
</head>
<body>
<form action="/login/tempPw" method="POST" id="AuthSubmitForm" th:if="${status!=1}">
    <div class="noteNotice" th:if="${status!=1}">이메일 인증</div>
    <p><span>수신하신 인증번호를 입력해주세요.</span></p>
    <p><label for="mailCode"></label><input type="text" id="mailCode" name="mailCode" autocomplete="off" placeholder="인증번호"></p>
    <input type="hidden" id="email" name="email">
    <input type="hidden" id="id" name="id">
    <input type="submit" value="인증하기">
</form>
<div th:if="${status==1}" style="width:450px; height:250px; border:1px solid gray;">
    <div class="noteNotice" th:text="${resultSubtitle}"></div>
    <div class="resultMsg">
        <p><span th:text="${resultMsg}"></span></p>
        <input th:if="${status==1}" type="button" onclick="closeBtn();" value="닫기">
    </div>
</div>
<script th:inline="javascript">
    let $status = /*[[${status}]]*/ 'default';

    if($status != 1){
        let $mailCode = document.getElementById('mailCode');
        let $AuthCode = /*[[${session.AuthCode}]]*/;
        let $emailInput = document.getElementById('email');
        let $email = /*[[${session.email}]]*/;
        let $idInput = document.getElementById('id');
        let $id = /*[[${session.id}]]*/;
        let $Frm = document.getElementById('AuthSubmitForm');
        $Frm.addEventListener('submit',(e)=>{
            e.preventDefault();
            if($AuthCode === $mailCode.value){
                $emailInput.value = $email;
                $idInput.value = $id;
                $mailCode.disabled=true;
                $Frm.submit();
            } else {
                alert("인증번호가 틀립니다.");
            }
        })
    } else if($status == 1){
        let dynamicLink = function(){
            let link = document.createElement("link");
            link.href = "/css/findedPw.css";
            link.async=false;
            link.rel="stylesheet";
            link.type="text/css";
            document.head.appendChild(link);
        }
    }

    function closeBtn(){
        window.close();
    }
</script>
</body>
</html>