@import url(../css/common.css);

* {
    outline: 1px solid red;
}

.container {
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
    grid-template-areas: ". main .";
}

.container__contents {
    grid-area: main;
}

.item1 .box1 {
    display: flex;
    height: 100px;
    align-items: center;
}


.item2 .box1 {
    height: 600px;
}

.item3 .box1 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board__title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
}

.board__title .subject {
    width: 20%;
}

.board__body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.board__body .content {
    width: 20%;
}

.paging {
    display: flex;
    justify-content: center;
}

h3 {
    margin: 0px;
}

span__title {
    color: var(--color-wear_red);
}
h4 {
    margin: 0px;
}


